yolo/yolov4-416.trt
yolo/yolov4-288.trt
yolo/yolov4-288.onnx
yolo/yolov4.weights
yolo/yolov4-416.onnx
yolo/yolov4Custom-416.trt
yolo/yolov4Custom-288.trt
yolo/yolov4-288.cfg
yolo/yolov4-288.weights
yolo/yolov4-416.cfg
yolo/yolov4-416.weights
yolo/yolov4.cfg

